{
    "name": "{{scratchVersion}}",
    "config": {
        "main" : "fr.openent.scratch.Scratch",
        "port" : 8072,
        "app-name" : "Scratch",
        "app-address" : "/scratch",
        "app-icon" : "Scratch-connector-large",
        "host": "https://{{ host }}",
        "ssl" : true,
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "prod",
        "entcore.port" : 8009,
        "sql": true,
        "db-schema": "scratch",
        "scratch-url": "{{ scratchUrl | default('') }}",
        {% if ha and item != 'jobs' %}
            "scratch-cron": "0 0/10 * ? * * 2099",
        {% else %}
            "scratch-cron": "{{ scratchCron | default('0 0/10 * ? * * *') }}",
        {% endif %}
        "publicConf": {
            "xiti": {
                "LIBELLE_SERVICE": {
                    "default": "RESSOURCE_ACCOMPAGNEMENT_ENTRAINEMENT"
                },
                "OUTIL": "SCRATCH"
            }
        }
    }
}